
/// ----------------------------------------------------------------------------------------------- THE BASICS

$white: #ffffff;
$black: #000000;

/// ----------------------------------------------------------------------------------------------- GLOBALS

$color--primary: #ffb305;

/// ----------------------------------------------------------------------------------------------- GLOBALS

$global--border-radius: 4px;
$global--base-background-color: $black !default;

/// ----------------------------------------------------------------------------------------------- TYPE

$type--anchor-color: $color--primary !default;
$type--anchor-font-weight: normal !default;

$type--base-font-family: 'Roboto', Helvetica, Arial, sans-serif !default;
$type--base-font-size: 16px !default; // SET AS PX
$type--base-line-height: 1.6 !default;
$type--base-text-color: #404040 !default;

$type--secondary-font-family: 'star_jediregular', Helvetica, Arial, sans-serif !default;

$type--header-color: $color--primary !default;
$type--header-font-family: $type--secondary-font-family;
$type--header-font-weight: bold !default;
$type--header-letter-spacing: normal !default;
$type--header-text-transform: uppercase !default;


$type--paragraph-letter-spacing: normal !default;

/// ----------------------------------------------------------------------------------------------- LAYOUT

$layout--container-max-width: 1024px;

/// ----------------------------------------------------------------------------------------------- MA BREAKPOINTS..

$breakpoints: (
    mobile: 480px,
    on-mobile: max-width 767px,
    tablet: min-width 768px,
    on-tablet: (min-width 768px) (max-width 1024px),
    desktop: min-width 1024px
);
