
/// --------------------------------------------------------- Eric Meyer's Diagnostic CSS

span:empty,
div:empty,
th:empty,
td:empty,
li:empty,
p:empty {
    padding: 0.5em; background: yellow;
}

*[style],
center,
font {
    outline: 5px solid red;
}

*[id=""],
*[class=""] {
    outline: 5px dotted red;
}

img[alt=""] {
    border: 3px dotted red;
}

img:not([alt]) {
    border: 5px solid red;
}

img[title=""] {
    outline: 3px dotted fuchsia;
}

img:not([title]) {
    outline: 5px solid fuchsia;
}

table:not([summary]) {
    outline: 5px solid red;
}

table[summary=""] {
    outline: 3px dotted red;
}

th {
    border: 2px solid red;
}

th[scope="col"], th[scope="row"] {
    border: none;
}

a[href]:not([title]) {
    border: 5px solid red;
}

a[title=""] {
    outline: 3px dotted red;
}

a[href="#"] {
    background: lime;
}

a[href=""] {
    background: fuchsia;
}

li {
    margin: 0.67em 0;
}