
@include b(btn) {
    border: 1px solid $color--primary;
    color: $color--primary;
    font-size: .75rem;
    padding: .5em 1em;
    transition: box-shadow .2s ease-out;

    &:hover {
        box-shadow: 0 0 1em $color--primary;
    }
}
